---
layout: layouts/base.njk
title: What is a Pokémon TCG Progression Series?
---

<main>
  <h1>What is a Pokémon TCG Progression Series?</h1>

  <p>
    A <strong>Progression Series</strong> (also known as Evolution Series) is a
    fun format where a group of players open a predefined number of boosters,
    one set at a time and accumulate a card pool from which they will build
    decks and play against each other.
  </p>
  <p>
    Only imagination is limit on how to choose which sets you include. The
    "easiest" way is to choose a series and open each set in it. We started ours
    with Scarlet & Violet and will play through each set published.
  </p>
  <p>
    In the beginning, the decks will be bad and inconsistent and that's part of
    the fun. Over time, your decks improve but you still need to adapt to new
    situations based on what cards you pull.
  </p>
  <p>Once for each set:</p>
  <ul>
    <li class="no-flex">
      Open 18 boosters<sup><a href="#footnote-1">[1]</a></sup>
    </li>
    <li>Add cards from those boosters to your available card pool.</li>
    <li>Build a 60-card deck from available cards.</li>
    <li class="no-flex">
      Play against everyone<sup><a href="#footnote-2">[2]</a></sup> and count
      score.
    </li>
    <li class="no-flex">
      After a set finishes, you can distribute
      <a href="#compensation-packs">Compensation Packs</a> from the set based on
      rankings.
    </li>
  </ul>

  <h2 id="compensation-packs">Compensation Packs</h2>
  <p>
    We decided to award players extra packs after each set, based on how they
    performed. This helps players who may have gotten a short straw with the
    initial sets to improve their decks.
  </p>
  <p>In our group, we decided to give these packs as follows</p>
  <ul>
    <li>1st place: 1 pack</li>
    <li>2nd place: 2 packs</li>
    <li>3th place: 4 packs</li>
    <li>4th place: 6 packs</li>
    <li>5th place: 8 packs</li>
  </ul>

  <p>
    And if players ended up with a tied score, they'd receive packs based on the
    average of packs for the positions, rounded up. For example, if two players
    tied for 2nd place, they'd get (2 + 4) / 2 = 3 packs.
  </p>

  <h2 id="tools">Tools and resources</h2>

  <p>
    You can play this with physical cards if you got the cash and find enough
    booster boxes for players. A more budget friendly alternative is to use
    tools like
    <a href="https://pokemoncard.io/pack-sim/"
      >PokemonCard.io's Pack Simulator</a
    >
    and then play in either
    <a href="https://tcg.pokemon.com/en-gb/tcgl/">Pokémon TCG Live</a> (for
    newer sets), <a href="https://untap.in/">Untap.in</a> or
    <a href="https://www.tabletopsimulator.com/">Tabletop Simulator</a>.
  </p>

  <p>
    To keep track of your card pool, you can copy-paste the picks from Pack
    Simulator or print the final page as PDF for safe keeping. I have also built
    <a href="https://github.com/Hamatti/export-pack-sim">a bookmarklet</a> that
    will export the cards to clipboard so you can then store them somewhere.
  </p>

  <h2>Make it your own</h2>
  <p>
    There are no hard and fast rules when designing your own Progression Series.
    Pick any sets you want and make up your own rules. I hope these will give
    you a starting point but don't feel like you need to follow any of them.
  </p>

  <hr />
  <p id="footnote-1">
    <sup>[1]</sup> You can choose any number of boosters. We went with 18 as
    that's a half of a booster box.
  </p>
  <p id="footnote-2">
    <sup>[2]</sup> If you have a large group, you may want to divide it into two
    pods and remix those every set.
  </p>
</main>
