---
layout: layouts/base.njk
title: Turku Cardsports Pokémon TCG Progression Series!
---

<header>
  <img src="/assets/progression-series-logo-v0.png" />
  <h1>Turku Cardsports Pokémon TCG Progression Series!</h1>
</header>

<main>
  <div class="intro">
    <p>
      A <strong>Pokémon TCG Progression Series</strong> is a format where we
      open half a booster box (16 boosters) from each set from the block one at
      a time, starting with Scarlet and Violet base set. After each set, we
      build a 60-card deck from what we've pulled so far, battle against each
      other and repeat for every set in the block.
    </p>
    <p>
      It's a format that challenges deckbuilding skills and gives us a reason to
      play with cards we would otherwise not play with (or even have read
      before).
    </p>
  </div>

  <hr />

  <h2>Total ({{ series | finishedSeries }} sets finished)</h2>

  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for player in collections.ranking %}
      <tr>
        <td>{{ player.playerName }}</td>
        <td>{{ player.stats.games }}</td>
        <td>{{ player.stats.wins }}</td>
        <td>{{ player.stats.losses }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />
  {% for serie in series %}

  <h2>{{ serie.name }} ({{ serie.ongoing | ongoing }})</h2>

  <h3>Ranking</h3>

  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for player in collections.seriesScores[serie.id].table %}
      <tr>
        <td>{{ player.playerName }}</td>
        <td>{{ player.stats.games }}</td>
        <td>{{ player.stats.wins }}</td>
        <td>{{ player.stats.losses }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <details>
    <summary><h3>Matchups</h3></summary>
    <table>
      {% for match in collections.seriesScores[serie.id].matches %}
      <tr>
        <td>{{ match[0] }}</td>
        <td>-</td>
        <td>{{ match[1] }}</td>
        <td>{{ match[2] }}</td>
        <td>-</td>
        <td>{{ match[3] }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </details>

  <details class="decks">
    <summary><h3>Decks</h3></summary>
    <h4>juhis</h4>
    <a href="/assets/decks/svi/juhis.webp"
      ><img src="/assets/decks/svi/juhis.webp" alt="Juhis's deck"
    /></a>
  </details>
</main>

<footer>
  <p>
    This site is built by <a href="https://hamatti.org">Juhis</a> with
    <a href="https://11ty.dev">Eleventy</a>.
  </p>
</footer>
