---
layout: layouts/base.njk
title: Turku Cardsports Pokémon TCG Progression Series!
---

<main>
  <div class="intro">
    <p>
      A <strong>Pokémon TCG Progression Series</strong> is a format where we
      open half a booster box (18 boosters) from each set from the block one at
      a time, starting with Scarlet and Violet base set. After each set, we
      build a 60-card deck from what we've pulled so far, battle against each
      other and repeat for every set in the block.
    </p>
    <p>
      It's a format that challenges deckbuilding skills and gives us a reason to
      play with cards we would otherwise not play with (or even have read
      before).
    </p>
    <p>
      You can see matchups and decks for individual sets by following the links
      in their headings
    </p>
  </div>

  <hr />


  <h2>Total ({{ series | finishedSeries }} sets finished)</h2>

  <p>This series is now finished. Below are the final scores as well as per-set scores and decklists.</p>

  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for player in collections.ranking %}
      <tr>
        <td>{{ player.playerName }}</td>
        <td>{{ player.stats.games }}</td>
        <td>{{ player.stats.wins }}</td>
        <td>{{ player.stats.losses }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <hr />
  {% for serie in series %}

  <h2>
    <a href="/sets/{{ serie.id }}"
      >{{ serie.name }} ({{ serie.ongoing | ongoing }})</a
    >
  </h2>

  <h3>Ranking</h3>

  <table class="striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Games</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      {% for player in collections.seriesScores[serie.id].table %}
      <tr>
        <td>{{ player.playerName }}</td>
        <td>{{ player.stats.games }}</td>
        <td>{{ player.stats.wins }}</td>
        <td>{{ player.stats.losses }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</main>
