@font-face {
  font-family: "Funnel Display";
  src: url("/assets/fonts/FunnelDisplay-VariableFont_wght.ttf");
}

body {
  margin: 0;
}

main {
  width: 100ch;
  margin: auto;
  max-width: 90%;
}

h1 {
  text-align: center;
  font-family: "Funnel Display";
}

.intro {
  margin: 2.5em 0;
}
p {
  font-size: 1.25em;
  line-height: 1.5;
}

table {
  max-width: 90%;
  width: 60ch;
  border-spacing: 0;
  margin: 0 1em;
}

thead {
  background: black;
  color: white;
  & th {
    padding: 0.5em 1em;
    text-align: left;
  }
}

tbody {
  & tr:nth-child(2n) {
    background: #ccc;
  }
  & td {
    padding: 0.5em 1em;

    &:not(:first-child) {
      text-align: center;
    }
  }
}

ul {
  list-style-type: "";

  & li {
    padding-bottom: 1em;
    font-size: 1.25em;
  }
}

h3 {
  display: inline-block;
}
hr {
  width: 50%;
  margin: 3em 0;
  border-color: #fff;
}

header {
  max-width: 90%;
  width: 100ch;
  display: flex;
  align-items: center;
  margin: 2.5em auto;

  & img {
    width: 150px;
    margin: auto;
  }
}

footer {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em 0;

  & a,
  a:visited {
    color: #e19157;
  }
}
