@font-face {
  font-family: "Funnel Display";
  src: url("/assets/fonts/FunnelDisplay-VariableFont_wght.ttf");
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-content: space-between;
}

main {
  width: 100ch;
  margin: 0 auto;
  max-width: 90%;
  flex: 1;
}

h1 {
  text-align: center;
  font-family: "Funnel Display";

  & a,
  a:visited {
    color: black;
    text-decoration: none;
  }
}

.intro {
  margin: 2.5em 0;
}
p {
  font-size: 1.25em;
  line-height: 1.5;
}

table {
  max-width: 90%;
  width: 60ch;
  border-spacing: 0;
  margin: 0 1em;
}

thead {
  background: black;
  color: white;
  & th {
    padding: 0.5em 1em;
    text-align: left;
  }
}

tbody {
  & td {
    padding: 0.5em 1em;

    &:not(:first-child) {
      text-align: center;
    }
  }
}

.striped tr:nth-child(2n) {
  background: #ccc;
}

ul {
  list-style-type: "";

  & li {
    padding-bottom: 1em;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}

h3 {
  display: inline-block;
}
hr {
  width: 50%;
  margin: 3em 0;
  border-color: #fff;
}

header {
  max-width: 90%;
  width: 100ch;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em auto;

  & img {
    width: 150px;
    margin: auto;
  }

  & .header-top {
    display: flex;
  }

  nav {
    display: flex;
    gap: 1em;
  }
}

@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
}

footer {
  background: black;
  color: white;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  margin-top: 2em;
  padding: 1em 0;

  & a,
  a:visited {
    color: #e19157;
  }
}

.deck {
  max-width: 100%;
}

.subnav {
  text-align: center;
  width: 100%;
}

sup {
  font-size: 0.75em;
  margin-left: 0.25em;
}

li.no-flex {
  display: block;
}
