<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:description"
      content="Open 16 boosters of a set, build a deck with what you got and compete with friends. Repeat for each set in a block. "
    />
    <meta
      property="og:image"
      content="https://progression-series.hamatti.org/assets/progression-series-logo-v0.png"
    />

    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    <header>
      <img src="/assets/progression-series-logo-v0.png" alt="" />
      <h1>Turku Cardsports Pokémon TCG Progression Series!</h1>
    </header>

    {{ content | safe }}

    <footer>
      <p>
        This site is built by <a href="https://hamatti.org">Juhis</a> with
        <a href="https://11ty.dev">Eleventy</a>. Code is open source and
        available in
        <a href="https://github.com/Hamatti/progression-series-website"
          >GitHub</a
        >.
      </p>
    </footer>
  </body>
</html>
