<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}" />
    <meta
      property="og:description"
      content="Open 16 boosters of a set, build a deck with what you got and compete with friends. Repeat for each set in a block. "
    />
    <meta
      property="og:image"
      content="https://progression-series.hamatti.org/assets/progression-series-logo-v0.png"
    />

    <link rel="stylesheet" href="/assets/main.css" />
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
